<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894250926981-27tv6hee5ao7k5mk13ua8mgar1ikm3u1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894250926981-27tv6hee5ao7k5mk13ua8mgar1ikm3u1</string>
	<key>API_KEY</key>
	<string>AIzaSyDTes3FpMizP_jVF-j5hLl0sjhnGCnFLzs</string>
	<key>GCM_SENDER_ID</key>
	<string>894250926981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deepanshugautam.Health-Consult</string>
	<key>PROJECT_ID</key>
	<string>min-health-consult</string>
	<key>STORAGE_BUCKET</key>
	<string>min-health-consult.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894250926981:ios:558db299badb2bbdb83aec</string>
	<key>DATABASE_URL</key>
	<string>https://min-health-consult.firebaseio.com</string>
</dict>
</plist>